<ul class="flex-container">
    <li class="flex-item1">
      <ul class="inner-flexcontainer">
        <li class ="inner-flex-item1">
            <mat-card class="profile">
                <mat-card-title>Profile</mat-card-title>
                <mat-card-content> 
                  <p class="username"> {{username}} </p>
    
                    <p class="t_commit">Total Commits: {{totalCommit}}</p>
              
                      <p class="t_commit">GitHub Link: {{html_url}}</p>
                    </mat-card-content>
                    <mat-card-footer>
                            <button mat-raised-button color="primary" (click)="addAccount()">Add Accounts</button>
                    </mat-card-footer>
            </mat-card>
        </li>
        <li class ="inner-flex-item1">
          <div>
          <app-events></app-events>
        </div>
        </li>
      </ul>
    </li>
      
    <li class="flex-item2">      
      <ul class="inner-flexcontainer">
        <!-- <ng-template ngFor let-item [ngForOf]="items" let-i="index" [ngForTrackBy]="trackByFn"> -->
              <li class="inner-flex-iten2" *ngFor="let issue of issues">
                  <mat-accordion>
                      <mat-expansion-panel>
                        <mat-expansion-panel-header>
                          <mat-panel-title>
                            {{issue.type}}
                          </mat-panel-title>
                          <mat-panel-description>
                            {{issue.date}}
                          </mat-panel-description>
                          </mat-expansion-panel-header>
                            {{issue.content}}
                            <p>To View: {{issue.html_url}}</p>
                        </mat-expansion-panel>
                    </mat-accordion>
              </li>
        
      </ul></li>

    <li class="flex-item3">
        <ul class="inner-flexcontainer">
            <li class ="inner-flex-item1">
              <app-follower></app-follower>
            </li>
            <li clss="inner-flex-item2">
              <app-repos></app-repos>
            </li>
          </ul>
    </li>
  </ul>