/* @import "~/fullcalendar/dist/fullcalendar.css"; */
.example-headers-align .mat-expansion-panel-header-title, 
.example-headers-align .mat-expansion-panel-header-description {
  flex-basis: 0;
}

.example-headers-align .mat-expansion-panel-header-description {
  justify-content: space-between;
  align-items: center;
}
.flex-container {
    padding: 0;
    margin: 0;
    height: 100vh;
    list-style: none;
    
    /* display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex; */
    display: flex;
    flex-flow: row wrap;
    /* -webkit-flex-flow: row wrap; */

    justify-content: space-around;
}
.button {
  /* background: tomato; */
  /* padding: 5px; */

  width: 28%;
  height: inherit;
  /* flex:30%; */
  /* margin-right: 5px; */
  margin-left: 3px;
  margin-top: 50px;
  
  /* line-height: 150px; */
}
  .flex-item1 {
    /* background: tomato; */
    /* padding: 5px; */

    width: 28%;
    height: inherit;
    /* flex:30%; */
    /* margin-right: 5px; */
    margin-top: -145px; 
    
    /* line-height: 150px; */
  }
  .flex-item2 {
    overflow: scroll;
    /* background: tomato; */
    /* margin-right: 5px; */
    margin-top: 60px;
    width: 35%;
    height: auto;
    
    /* line-height: 150px; */
  }
  .flex-item3 {
    /* background: tomato; */
    /* padding: 5px; */
    width: 27%;
    height: 100%;
    /* margin-top: 10px; */
    
    /* line-height: 150px; */
  }
  .inner-flexcontainer {
    list-style: none;
    height: inherit;
    display: inherit;
    display: flex;
    flex-flow: column wrap;
    justify-content: space-around;
  }

  .inner-flex-item1 {
    /* background: yellow; */
    width: inherit;
    height: 200px;
    
    /* line-height: 150px; */

  }
  .inner-flex-item3 {
    /* background: yellow; */
    width: inherit;
    height: 200px;
    margin-top: -300px;
    /* line-height: 150px; */

  }
  .inner-flex-item2 {
    /* background: yellow; */
    width: inherit;
    height: auto;
    
    /* line-height: 150px; */

  }
  .profile {
      width: inherit;
      height: inherit;
      font-size: inherit;
  }
  mat-card.profile.mat-card {
    margin: 0 auto !important;
  }