<ul class="flex-container">
    <li class="flex-item1">
      <ul class="inner-flexcontainer">
        <li class ="profile" >
            <mat-card class="profile">
                <mat-card-title>Profile</mat-card-title>
                <mat-card-content> 
                  <p class="username"> {{username}} </p>
    
                    <p class="t_commit">Total Commits: {{totalCommit}}</p>
              
                      <p class="t_commit">GitHub Link: {{html_url}}</p>
                    </mat-card-content>
                    <mat-card-footer class="button">
                            <button mat-raised-button color="primary" (keyup.enter)="addAccount()" (click)="addAccount()">Add an Account</button>
                    </mat-card-footer>
            </mat-card>
        </li>
        <li class ="cal">
          <div class="cal">
          <app-events></app-events>
        </div>
        </li>
      </ul>
    </li>
      
    <li class="flex-item2">      
      <ul class="FeedContainer">
        <li style="margin: 0 auto;">
            <h2 style="margin: 0 auto; color:darkslateblue;">GitHub Feeds</h2>

        </li>
        <li>
            <hr style="height: 12px;
            border: 0;
            box-shadow: inset 0 12px 12px -12px gray;">
        </li>


        <!-- <ng-template ngFor let-item [ngForOf]="items" let-i="index" [ngForTrackBy]="trackByFn"> -->
              <li class="inner-flex-iten2" *ngFor="let issue of issues">
                  <mat-accordion>
                      <mat-expansion-panel>
                        <mat-expansion-panel-header>
                          <mat-panel-title>
                            {{issue.type}}
                          </mat-panel-title>
                          <mat-panel-description>
                            {{issue.date}}
                          </mat-panel-description>
                          </mat-expansion-panel-header>
                            {{issue.content}}
                            <p>To View: {{issue.html_url}}</p>
                        </mat-expansion-panel>
                    </mat-accordion>
              </li>
        
      </ul></li>

    <li class="flex-item3">
        <ul class="inner-flexcontainer">
            <li class ="follow">
              <app-follower></app-follower>
            </li>
            <li style="height:20px;">
              <br>
            </li>
            <li clss="repo">
              <app-repos></app-repos>
            </li>
          </ul>
    </li>
  </ul>