<h1>GitMe</h1>
<p>
    Git me is a personalized web app that shows all the GitHub updates you have for all your accounts on one page. It will show news for all your repos and repos you contribute to, a calendar for all the tasks you have to finish, and all things GitHub available in one location. No need to go searching through all your repos to find comments or requests, it will show up in your news feed! It's a convenient way to keep up to date with all your projects and users you are following.
</p>
<div class="button-row">
    <button mat-raised-button color="primary" (click)="loginModal()">Login</button>
</div>


